/* reset.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* main.css */
html, 
body { 
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scroll if content is wider */
}

.react-flow-container {
  width: 100%; 
  max-width: 1100px; 
  margin: 20px auto;  
  display: flex;     
  justify-content: center; 
  align-items: center;   
  height: calc(100vh - 40px); /* Subtract margin from available height */
}

.react-flow__node-customNode {
  font-size: 10px;
  width: 180px;
  background: #f5f5f6;
  color: black;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  border-radius: 2px;
}

.react-flow__node-customNode .react-flow__handle {
  top: 24px;
  right: -15px;
  width: 6px;
  height: 10px;
  border-radius: 2px;
  background-color: #778899;
}


.custom-node__header {
  padding: 8px 10px;
  border-bottom: 1px solid #e2e8f0;
}

.custom-node__body {
  padding: 10px;
}

.react-flow__edge {
  stroke: black;
  stroke-width: 2px;
}

/* General Container */
.PageContainer {
  display: flex; /* Allow side-by-side layout */
  width: 100%;   /* Make it take full width of the page */
}

/* Left Side */
.PageLeft {
  flex: 1;  /* Takes up available space */
  background-color: #f0f0f0; /* Example background color */
  padding: 20px; 
}

/* Right Side */
.PageRight {
  flex: 1;  /* Takes up available space */
  background-color: #e0e0e0;  /* Example background color */
  height: 100vh;
  width: 50vw;
}

.input {
  margin-top: 5px;
}


.input-label {
  margin-top: 5px;
}


.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px; /* Adjust as needed */
  background-color: #f0f0f0; /* Customize as needed */
  padding: 20px;
  text-decoration-line: none;
}

.sidebar a {
  text-decoration: none; /* Removes underline */
  color: inherit;
}
